<h1>Tours</h1>
<!-- <p>Find me in app/views/tours/index.html.erb</p> -->

<ul>
    <% @tours.each do |a| %>
    <li>
            <div class="format1">
        <%= link_to(a.name, "/tours/#{a.id}") %>
    </div>
    </li>
    <li>
        <p></p>
        <%= image_tag(a.image) %>
        <p>
            <%= "Cities for the tour: #{a.theme}" %>
        </p>
        <p>
            <%= "Main highlights: #{a.highlights}" %>
        </p>
    </li>
    <% end %>
</ul>
