<h1>TOURS</h1>

<ul>
    <% @tours.each do |a| %>
    <li>
        <div class="header-style-city-tour">
            <%= link_to(a.name, "/tours/#{a.id}") %>
        </div>
        <p></p>
        <div class="city-image">
            <%= image_tag(a.image) %>
        </div>
        <p>
            <%= "Cities for the tour: #{a.theme}" %>
        </p>
        <p>
            <%= "Main highlights: #{a.highlights}" %>
        </p>
    </li>
    <% end %>
</ul>
