<h1>TOURS</h1>

<ul>
    <div class="container--grid">
        <% @tours.each do |a| %>
        <li class="list--grid-small">
            <div class="box-small">
                <div class="image-small">
                    <%= image_tag(a.image) %>
                </div>

            <div class="textbox-small">
               <h4>
               <%= link_to(a.name.upcase, "/tours/#{a.id}") %>
               </h4>
            </div>
        </div>
        </li>
        <% end %>

    </div>
</ul>
