<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
<h1 class="header">Remarkable Voyages</h1>
<p class="home2">

    <%= render :partial => "form" %>
    <%= image_tag("alps.jpg", :class => "home")%>
</p>
