<h1 class="header">Remarkable Voyages</h1>
<%= render :partial => "form" %>
<div class="parallax-view">
<%#= image_tag ("europe.jpg"), class:"testfive" %>
<p class="parallax-text"></p>
</div>


<div class="parallax-bottom-space">
<h1 class="parallax-bottom-space">Latest News from Remarkable Voyages
  <p class="parallax-bottom-space">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda similique dolor quos nulla cumque vitae deleniti, quis, incidunt officiis ea quo maiores qui eaque aliquid porro quas voluptatum nemo velit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nobis velit, fugiat explicabo officiis quibusdam in repudiandae rem adipisci commodi praesentium sit odit iste corporis eligendi, ducimus sint, impedit pariatur.
  </p>
</h1>
</div>
