<h1>Countries</h1>
<!-- <p>Find me in app/views/countries/index.html.erb</p> -->

<ul>
    <div class="format1">
        <% @countries.each do |a| %>

        <li>
            <%= link_to(a.name.upcase, "/countries/#{a.id}") %>
            <p></p>
        </li>
        <li>
            <%= image_tag(a.image) %>

            <p></p>
        </li>
        <% end %>
    </div>
</ul>
