<h1>DESTINATIONS</h1>
<!-- <p>Find me in app/views/countries/index.html.erb</p> -->

<!-- <ul>
    <div class="header-style-city-tour">
        <% @countries.each do |a| %>
        <li>
            <%#= link_to(a.name.upcase, "/countries/#{a.id}") %>
            <p></p>
        </li>
        <li>
            <%#= image_tag(a.image) %>
            <p></p>
        </li>
        <% end %>
    </div>
</ul> -->

<ul>
    <div class="country-main-style">
        <% @countries.each do |a| %>
        <li class="country-main-li">

            <div class="country-style">
                <div class="country-image-<%=a.name%>">
                        <%= image_tag(a.image) %>
                    </div>

                    <div class="country-text-<%=a.name%>">
                            <h3>
                                <%= link_to(a.name.upcase, "/countries/#{a.id}") %>
                            </h3>
                    </div>
                </div>
            </li>
            <% end %>

    </div>
</ul>
