<h1>Cities</h1>
<!-- <p>Find me in app/views/cities/index.html.erb</p> -->
<li>
<ul>
    <% @cities.each do |a| %>

    <li>
        <%= link_to(a.name.upcase, "/cities/#{a.id}") %>
        <p></p>
    </li>
    <li>
        <p></p>
        <%= image_tag(a.image) %>
        <p></p>
    </li>

    <% end %>
</ul>
</li>

<% options = { units: "metric", APPID: '453c48fb58a938817e07015fb25a87dc' } %>
<% @weather=OpenWeather::Current.city("Berlin, DE", options) %>

<%= p @weather %>

<p></p>
<p></p>
<%= p @weather["main"]["temp_min"] %>
