<h1>CITY BREAKS</h1>
<!-- <p>Find me in app/views/cities/index.html.erb</p> -->

<ul>
    <div class="country-main-style">

        <% @cities.each do |a| %>
        <li>
            <div class="city-style">
                <div class="city-link">
                <h5>
                    <%= link_to(a.name.upcase, "/cities/#{a.id}") %>
                </h5>
                    </div>
                    <p></p>
                    <div class="city-image">
                        <%= image_tag(a.image) %>
                    </div>
            </div>
        </li>

        <% end %>
    </div>
</ul>
