<h1>Cities</h1>
<!-- <p>Find me in app/views/cities/index.html.erb</p> -->
<li>
<ul>
    <div class="format1">
        <% @cities.each do |a| %>

        <li>
            <%= link_to(a.name.upcase, "/cities/#{a.id}") %>
            <p></p>
        </li>
        <li>
            <p></p>
            <%= image_tag(a.image) %>
            <p></p>
        </li>

        <% end %>
    </div>
</ul>
</li>
