// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// body.countries.index {
//   background: hotpink;
// }

.new_city {
margin: 0 auto;
}

select {
  margin-left: 50px;
}

.edit_city {
  margin-top: 200px;
  margin: 0 auto;
}

.edit_city label {
  height: 16px;
}
.format1{
  font-size: 30px;
}

img {
    height: 60%;
    width: 60%;
}
.icon {
  max-width: 50px;
  max-height: 50px;
}

h2 {
  margin-bottom: -30px;
}

h1{
  font-size: 45px;
  text-align: center;
}

input.submit_format {
margin: 0 auto;
margin-bottom: 20px;
display: block;
}

.city1 {
  text-align: center;
}
