// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_city {
    margin: 0 auto;
}
select {
    margin-left: 50px;
}
.edit_city {
    margin: 0 auto;
}
.edit_city label {
    height: 16px;
}
.header-style-city-tour {
    font-size: 30px;
}
img {
    height: 60%;
    width: 60%;
}
.icon {
    max-width: 50px;
    max-height: 50px;
}
h2 {
    margin-bottom: -30px;
}
input.submit_format {
    margin: 0 auto 20px;
    display: block;
}
.city-country-header {
    text-align: right;
    margin-right: 40px;
}
.city-style {
    width: 540px;
    height: 360px;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}
.city-main-style {
    text-align: center;
}
.city-image {
    width: 540px;
    height: 360px;
    position: relative;
    display: inline-block;
}
.city-image img {
    height: 100%;
    width: 100%;
}
.city-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 540px;
    height: 360px;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.6s;
    vertical-align: middle;
    display: inline-table;
    line-height: 360px;
}
.city-text a {
    padding: 0;
}
.city-text:hover {
    opacity: 1;
}
.city-text a:hover {
    color: white;
    padding: 0;
}
.city-text h5 {
    display: inline-table;
    vertical-align: middle;
    line-height: 100%;
}
.city-attractions-li,
.city-individual-li,
.city-main-li {
    display: inline-block;
    width: 580px;
}
.city-attractions {
    font-family: "Lato";
    font-size: 30px;
    color: black;
}
.city-individual-header,
.city-weather-header {
    text-align: left;
}
.city-individual p {
    text-align: justify;
    width: 540px;
}
@media only screen and (max-width: 1024px) {
    .city-main-li {
        display: inline-block;
        width: 325px;
    }
    .city-style {
        width: 320px;
        height: 213.3px;
    }
    [class*="city-image"] {
        width: 320px;
        height: 213.3px;
    }
    [class*="city-image"] img {
        height: 213.3px;
        width: 320px;
    }
    [class*="city-text"] {
        width: 320px;
        height: 213.3px;
        line-height: 213.3px;
    }
}
@media only screen and (max-width: 414px) {
    .city-main-li {
        display: inline-block;
        width: 142px;
    }
    .city-style {
        width: 142px;
        height: 96px;
    }
    [class*="city-image"] {
        width: 142px;
        height: 96px;
    }
    [class*="city-image"] img {
        height: 96px;
        width: 142px;
    }
    [class*="city-text"] {
        width: 142px;
        height: 96px;
        line-height: 96px;
    }
    h1 {
        font-size: 30px;
        width: auto;
        text-align: center;
    }
    .city-attractions-li {
        font-size: 10px;
    }
    .city-individual p {
        width: 270px;
    }
    .city-weather-header {
        width: 270px;
        font-size: 12px;
    }
    .city-individual-header {
        font-size: 35px;
        height: 60px;
    }
    h1.city-attractions {
        font-size: 25px;
    }
}
