// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_city {
height: 300px;
margin: 0 auto;
}

select {
  margin-left: 50px;
}

.edit_city {
  margin-top: 200px;
  height: 300px;
  margin: 0 auto;
}

img {
    height: 60%;
    width: 60%;
}
.icon {
  max-width: 50px;
  max-height: 50px;
}

h2 {
  margin-bottom: -30px;
}

h1{
  text-align: center;
}
