// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: georgia;
  background-color: gainsboro;
}
.new_country {
    margin: 0 auto;
}
.edit_country {
    margin: 0 auto;
}
.country1 {

}
