// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_country {
    margin: 0 auto;
}
.edit_country {
    margin: 0 auto;
}

.country-style {
  width: 540px;
  height: 360px;
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

[class*="country-image"] {
  width: 540px;
  height: 360px;
  position: relative;
  display: inline-block;
}

[class*="country-image"] img {
  height: 100%;
  width: 100%;
}
[class*="country-text"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 540px;
  height: 360px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: opacity 0.6s;
  vertical-align: middle;
  display: inline-table;
  line-height: 360px;
}

[class*="country-text"] a {
  padding: 0;
}

[class*="country-text"]:hover {
  opacity: 1;
}

[class*="country-text"] a:hover {
  color: white;
  padding: 0;
}

[class*="country-text"] h3 {
  display: inline-table;
  vertical-align: middle;
  line-height: 100%;
}

.countries li {
  display: inline-block;
  width: 580px;
}

h1 {
  color: #039be5;
  font-family: "Acme";
  font-size: 48px;
  text-align: center;
}
.country-individual img {
  height: 360px;
  width: 540px;
}

.fix {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .countries li {
    display: inline-block;
    width: 325px;
  }

  .country-style {
    width: 320px;
    height: 213.3px;
  }

  [class*="country-image"] {
    width: 320px;
    height: 213.3px;
  }

  [class*="country-image"] img {
    height: 213.3px;
    width: 320px;
  }
  [class*="country-text"] {
    width: 320px;
    height: 213.3px;
    line-height: 213.3px;
  }
.country-individual img {
  width: 540px;
  height: 360px;
}
.country-individual {
  width: 540px;
  height: 360px;
}

.fix {
  display: inline;
}

}

@media only screen and (max-width: 375px) {
  .countries li {
    display: inline-block;
    width: 142px;
  }

  .country-style {
    width: 142px;
    height: 96px;
  }

  [class*="country-image"] {
    width: 142px;
    height: 96px;
  }

  [class*="country-image"] img {
    height: 96px;
    width: 142px;
  }
  [class*="country-text"] {
    width: 142px;
    height: 96px;
    line-height: 96px;
  }
.country-individual img {
  width: 270px;
  height: 180px;
}
.country-individual {
  width: 270px;
  height: 180px;
}

[class*="country-text"] h3 {
  font-size: 12px;
}

.fix {
  display: inline;
}

h1 {
  font-size: 30px;
}
}
