// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CSS pages are global and formats apply across all pages - the delineation across controllers/model names is purely to order workflow
body.pages.home {
  background-image: url("alps.jpg");
  background-size: 120%;
//   background-size: 1900px;
}

.home {
height: 110%;
width: 110%;
margin-left: -30px;
align-items: center;
z-index: -1;
}

.header {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  z-index: 10;
}

form.search {
margin: 0 auto;
height: 150px;
width: 1200px;
background-color: teal;
border-radius: 2%;
font-size: 25px;
z-index: 10;
}

.search2{
  padding-top: 5%;
}

.container {
  padding-top: 70px;
}
// img.home {
//
//   margin-top: -150px;
//
// }
