// Place all the styles related to the Tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_tour {
    height: 450px;
    margin-left: 200px;
}
.edit_tour {
    height: 450px;
    margin-left: 200px;
}
img {
    height: 40%;
    width: 40%;
}

#tour_city_ids* {
    background-color: red;
}
