// Place all thema styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: gainsboro;
    font-family: georgia;
}
.sign {
    margin-left: 200px;
    text-align: left;
    width: 600px;
    height: 1000px;
    border: 10px;
    border-color: black;
}
form {
    text-align: left;
    width: 500px;
    margin-top: 20px;
    height: 650px;
    border: 10px;
    border-radius: 10%;
    border-color: black;
    background-color: orange;
    height: auto;
}

label {
    margin-left: 50px;
    color: white;
    font-size: 20px;
    display: inline-block;
    // width: 200px;
}

.countries label, .cities label, .tours label {
    width: 200px;
}

.countries input[id*='country'], .cities input[id*='city'], .tours input[id*='tour'] {
    margin-left: 0;
}

// input#country_name
input[id*='country'], input[id*='city'], input[id*='tour'], input[id*='user'], input#email, input#password
 {
    background-color: white;
    color: black;
    width: auto;
    height: 30px;
    margin-left: 100px;
}

.user3 {
    margin-top: 100px;
    text-align: center;
}
